{lib_dirs, ["deps"]}.
{deps, [
	{cowboy, "0.8.*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
	{erlydtl, "0.7.0", {git, "https://github.com/erlydtl/erlydtl.git", {ref, "dda4db0"}}},
	{mimetypes, "1.0", {git, "https://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}}
]}.

{erlydtl_opts, [
	{source_ext, ".dtl"}
]}.
